*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    width: 1320px;
    height: 600px;
    background-image: url(../Banner\ Image.png);
    background-repeat: no-repeat;
}

.banner-text{
    width: 500px;
    height: 300px;
    padding: 215px 0px 0px 340px;
}

h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}